* { transition: all 0.5s ease;}

html,body {
    width:100%;
    min-height:100%;
    margin:0;
}

body {
    background-color: #eee;
    color:#333;
    font-family:sans-serif;
    font-size:16px;
    margin:0;
    padding:0;
}

a {
    color:DarkOrchid;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

h1 { 
    font-size:2.5em;
    text-align:center;
    text-transform:uppercase;
    font-weight:bold;
}

#logo { 
	width:300px;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

h2 { 
	color:#444;
    font-size:2em;
    border-bottom:1px dotted #444;
    text-align:center;
}

#subtitle {
	font-size:0.95em;
    font-style:italic;
    font-family:serif;
    border:0px;
}


h3 {
	margin-bottom:0;
	padding:5px;
	background:#555;
	color:#ddd;
	text-align:left;
	font-size:1.2em;
	border-top:solid 1px #555;
	border-left:solid 1px #555;
	border-right:solid 1px #555;
    cursor: pointer;
}

code,pre,samp {
    white-space:pre-wrap;
}

*,textarea,table,td,th,code,pre,samp {
    word-wrap:break-word;
}

main {
    color:#333;
    background-color:transparent;
    font-size:1em;
    text-align:justify;
    margin-left:auto;
    margin-right:auto;
    min-width:37em;
    width:55%;
    padding:1em ;
    border:1px solid #555;
    box-shadow:2px 2px 6px #999;
}

footer {
    font-size:0.8em;
    background-color:transparent;
    padding:.2em ;
    text-align:center;
}

.formstyle {
	margin : 50px auto ; 
	border-radius : 2px ; 
	padding : 20px ; 
}

.formstyle ul {
	list-style : none ; 
	padding : 0 ; 
	margin : 0 ; 
}

.formstyle li {
	display : block ; 
	padding : 9px ; 
	border : 1px solid #777 ; 
	margin-bottom : 30px ; 
	border-radius : 3px ; 
	text-align:center;
}

.formstyle li :last-child {
	border : none ; 
	margin-bottom : 0px ; 
	text-align : center ; 
}

.formstyle li > label {
	display : block ; 
	float : left ; 
	margin-top : -22px ; 
    background-color: #f0f0f0; 
	height : 14px ; 
	padding : 5px 5px 5px 5px ; 
	color : #444 ; 
	font-size : 14px ; 
	overflow : hidden ; 
	border-radius:10px;
}

.formstyle input[type="text"], 
.formstyle input[type="url"], 
.formstyle input[type="password"], 
.formstyle input[type="email"]{ 
	margin-top:15px;
	color:#000;
	box-sizing : border-box ; 
	width : 90% ; 
	display : inline ; 
	outline : none ; 
	border : none ; 
	height : 25px ; 
	line-height : 25px ; 
	font-size : 16px ; 
	padding : 0 ; 
}

.formstyle li > span {
	background : transparent;
	display : block ; 
	padding : 3px ; 
	margin : 0 -9px -9px -9px ; 
	text-align : center ; 
	color : #555 ; 
	font-family : Arial , Helvetica , sans-serif ; 
	font-size : 11px ; 
}

input:valid{
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

input:invalid{
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}

.center {text-align:center;}

#mastodon_config, #twitter_config {
	display:none;
    cursor: pointer;
	margin-top:0;
	padding:20px;
	border : 1px solid #555 ; 
    opacity: 0; 
}
